language: java
sudo: required
jdk:
  - oraclejdk8

before_install: 

  - sudo rm -rf /usr/local/phantomjs
  - curl -L -O https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
  - tar xjf phantomjs-2.1.1-linux-x86_64.tar.bz2
  - sudo mv phantomjs-2.1.1-linux-x86_64 /usr/local/phantomjs
  
before_script:
- phantomjs --webdriver=4444 &

addons:
  sauce_connect:
    username: "bhadilov"
    access_key: "f319bf71-6e15-4b5d-b421-83441d8ef39f"
    
script: mvn test -B
